@import "tailwindcss";

@keyframes heartPop {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.5);
  }
  70% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1.1);
  }
}

.animate-heart {
  animation: heartPop 0.45s ease-out;
}
